<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <springProperty scope="context" name="springAppName" source="spring.application.name" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <endpointUrl>http://loki:3100/loki/api/v1/push</endpointUrl>
        <labels>
            <app>${springAppName}</app>
        </labels>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
    </root>
</configuration>
