<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Configuración para enviar logs a Logstash -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination> <!-- Cambia 'logstash-host' por la dirección de tu servicio Logstash -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="logstash" />
    </root>
</configuration>
